# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# images
*.jpg
*.png

#settings 
*.json

#compressed filse
*.zip

*.jpeg
*.pyc
*.h5
*.csv
*.mp3
*.wav
*.npy

*.mat

.ipynb_checkpoints/

#django
*.pyc
*~
__pycache__
db.sqlite3
/static
.DS_Store

#another statics
*.Rhistory

#folders
refs

#txt
*.txt

#videos
*.mp4

#excel
*.xls
*.xlxs
